/* body
{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans Linear B', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}



h1 {
    color: rgb(117, 0, 0);
}

.name{
    color: red;
}
.phone{
    color: rgb(72, 0, 255);
}
.container{
    color: aquamarine;
} */
.flex-container{
    border: 5px solid black;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: start;
flex-wrap: wrap;
}

.flex-items {
    background-color: brown;
    height: 50px;
    width: 200px;
}