.nav{
    padding: 100px;
}

.text_haohao{
    font-size: 40px;
}

.text_haohao{
    font-size: 40px;
}

.text_haohao_123{
    font-size: 20px;
}

.text_haohao{
    font-size: 40px;
}

.text_haohao_123{
    font-size: 20px;
}

.text_haohao_123{
    font-size: 20px;
}
.text_haohao{
    font-size: 40px;
}

.text_haohao_123{
    font-size: 20px;
}

body{
    padding: 30px;
}

.nav_itemsx{
    margin: 10000px 0px;
    font-size: 20px;
}

.nav_itemsy{
    margin: 10000px 200px;
    font-size: 20px;
}

.nav_itemsz{
    margin-top: 10000px 200px;
    font-size: 20px;
}